<meta charset="utf-8">
<meta name="application-name" content="Ultimate tic tac toe">
<meta name="description" content="Play ultimate tic tac toe online with a friend or against the computer. Features a lighting fast artificial intelligence. Supports gameplay on multiple devices.">
<meta name="keywords" content="ultimate, tic, tac, toe, multiplayer, game, artificial, intelligence, computer">
<meta name="author" content="Bennett Zhang">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ultimate Tic Tac Toe</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/main.css">