<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<div class="container">
		<header>
			<% include ../partials/header %>
		</header>
		<main>
			<div class="jumbotron">
				<h1>Play now.</h1>
				<p>Already mastered the classic game of X's and O's? Ultimate tic tac toe is a fun and strategic twist on the game we all know and love. Play with your friends or hone your skills against the computer.</p>
				<p>
					<a class="btn btn-lg btn-primary" href="/rules" role="button">Learn the rules »</a>
				</p>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">Local Game</h2>
						</div>
						<div class="panel-body">
							<p>Play against the <abbr title="artificial intelligence">AI</abbr> or with a friend using the same device.</p>
							<p>
								<a class="btn btn-default" href="/local-game" role="button">Start</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">Online Game</h2>
						</div>
						<div class="panel-body">
							<p>Play with a friend using separate devices.</p>
							<p>
								<a class="btn btn-default" href="/online-game" role="button">Start</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">Leaderboards</h2>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Username</th>
									<th scope="col">Score</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Bennett</td>
									<td>1250</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>Rahul</td>
									<td>1105</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>Salma</td>
									<td>980</td>
								</tr>
								<tr>
									<th scope="row">4</th>
									<td>Nithin</td>
									<td>765</td>
								</tr>
								<tr>
									<th scope="row">5</th>
									<td>Rishit</td>
									<td>520</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</div>
	<% include ../partials/scripts %>
</body>
</html>