<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<div class="container">
		<header>
			<% include ../partials/header %>
		</header>
		<main>
			<h1>The Rules</h1>
			<p>Under construction</p>
		</main>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</div>
	<% include ../partials/scripts %>
</body>
</html>
